/* helpers */
.plain-anchor {
    text-decoration: none;
    color: inherit;
}
/* ============================ */

section {
    padding: 2rem;
}

.dark {
    background: rgba(22, 22, 22, 1);
    color: white;
    text-align: center;
}

section h2 {
    margin-bottom: 1.5rem;
}

.short {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 2.5rem auto;
    max-width: 530px;
}

.button-link {
    background: white;
    color: rgba(16, 16, 16, 1);
    padding: 1rem 2rem;
    margin: 2rem 0;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
}

.form-as-link {
    display: block;    
    margin-bottom: 1rem;
    margin-top: 0;
}

.form-as-link button {
    background: none;
    border: none;
    color: rgb(168, 168, 168);
    line-height: 1.5rem;
    margin: 0 auto 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.statement {
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 1rem;
}

.statement::after {
    content: "";
    background: white;
    width: 25%;
    height: 0.1rem;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 2px;
}

.carousel {
    padding-top: 0.5rem;
}

.covered {
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}

.sign-up input {
    background: none;      
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    padding: 1rem 0.5rem;
    width: 100%;
}

.sign-up input::placeholder {
    color: white;
    font-size: 1.2rem;
}

.sign-up button {
    background: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    font-weight: bolder;
    font-size: 1.2rem;
}

/* CARDS */
.section__title {
    font-size: 1.8rem;
    font-weight: bolder;
    position: relative;
    margin-bottom: 2.5rem;
}

.section__title::after {
    content: "";
    position: absolute;
    height: 2px;
    max-width: 5rem;
    background: white;
    bottom: -1.2rem;
    left: 0;
    right: 0;
    margin: auto;   
}

.card-deck {
    display: flex;
    flex-basis: 22rem;
    flex-wrap: wrap;
    justify-content: center;
}

.a-card {
    /* border: 1px solid red; */
    width: 22rem;
    margin: 2rem 1rem;
}

.card__title {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
}

.card__image {
    content: "";
    height: 12rem;
    width: 100%;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    margin-bottom: 1.5rem;
}

.card__p {
    text-align: left;
    line-height: 1.5rem;
}

/* PROMOS */
.promo {
    padding: 0 1.5rem;
    max-width: 850px;
    margin: 1rem auto;
}

.promo__image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__info-box {
    max-width: 600px;
    margin: auto;
}

.promo__statement {
    margin: 2rem 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bolder;
    position: relative;
}

.promo__statement::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 10rem;
    bottom: -1rem;
    left: 0;
    right: 0;
    background: black;
    margin: auto;
    border-radius: 1px;
}

.promo__title {
    font-weight: bolder;
    text-align: center;
    margin: 3rem 0 1rem;
    font-size: 1.5rem;
}

.promo__info {
    text-align: center;
}

.promo__price {
    font-size: 1.5rem;
    color: rgb(29, 29, 29);
    margin-bottom: 1rem;
}

.promo__price span {
    font-size: 1rem;
}

.promo__buy-button {
    background: black;
    color: rgb(201, 201, 201);
    padding: 1rem 1rem;
    width: 50%;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.promo__payment-options {
    height: 1rem;
}

.promo__payment-options img {
    height: 100%;
}

.promo__copy {
    margin: 1.5rem;
}

.promo__copy p {
    color: rgb(66, 66, 66, 1);
    line-height: 1.4rem;   
}

.promo__copy > * {
    margin-top: 1rem;
}
.photo-text {
    margin: 0;
    padding: 0;
}

.photo-text__text {
    padding: 1rem;
}

.photo-text__text * {
    margin-bottom: 1rem;
}

.photo-text__image-box {    
    height: 100vw;
    background-repeat: none;   
    background-size: cover;
    background-position: center 0%;
}

.photo-text__text {
    text-align: left;
}

.photo-text__title {
    text-align: center;
    font-size: 1.5rem;
}

.photo-text__title::after {
    content: "";
    display: block;
    background: white;
    height: 2px;
    width: 5rem;
    margin: 1rem auto 0;
}

.photo-text__text h4 {
    font-size: 1.3rem;
}

.photo-text__text p {
    color: rgb(180, 180, 180);
    line-height: 1.2rem;
    max-width: 45rem;
}

.of-placs__title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}

.of-placs__title::after {
    content: "";
    display: block;
    background: black;
    height: 2px;
    width: 5rem;
    margin: 1rem auto 0;
}

.a-plac {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 31rem;
    margin:0 auto 2rem;
    text-decoration: none;
    color: inherit;
}

.a-plac__image {
    height: 0;
    width: 50%;    
    padding-top: 50%;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

.a-plac__title {
    font-size: 1.4rem;
    margin: 0.5rem 1rem 0.5rem;
    font-weight: bolder;
    text-align: center;
}

.a-plac__text {
    text-align: center;
    padding: 0 1rem;
}

.reviews {
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}

.reviews__title {
    color: white;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bolder;
}

.a-review {
    background: white;
    margin: 1rem auto;
    max-width: 20rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.a-review > * {
    
    margin-bottom: 1.5rem;
}

.a-review__stars {
    color: rgb(228, 228, 0);
    font-size: 1.2rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.a-review__title {
    font-size: 1.4rem;
    font-weight: bolder;
}

.a-review__copy {
    line-height: 1.2rem;    
    color: #474747;
}

.a-review__link a {
    text-decoration: none;
    color: inherit;
}

.a-review__author {
    color: rgb(110, 110, 110);
}

.a-review__date {
    font-size: 0.8rem;
}

#a-review__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);  
}

#a-review__modal:target {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-review__modal-container {
    position: relative;
    background: white;
    width: 300px;
    max-width: 100%;
    padding: 2rem 1rem;
}

.a-review__modal-container > * {
    margin-bottom: 1rem;
}

.modal__close-button {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    text-decoration: none;
    color: rgba(50, 50, 50, 0.8);
    font-size: 1.5rem;
    font-weight: bolder;
}

.events {
    background: rgba(16, 16, 16, 1);
    color: white;
}

.events__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.events__title::after {
    content: "";
    display: block;
    background: white;
    height: 2px;
    width: 5rem;
    margin: 1rem auto;
}

.events__button {
    background: inherit;
    border: none;
    color: inherit;
    margin: auto;
    display: block;
    cursor: pointer;
}

.an-event + .an-event {
    border-top: 1px solid rgb(180, 180, 180);
    padding-top: 3rem;
}

.an-event__date {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 0.8rem;
}

.an-event__title {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

.an-event__time {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.an-event__location {
    color: rgb(180, 180, 180);
    margin-bottom: 0.8rem;
}

.an-event__copy {
    display: none;
}

.an-event__copy__toggle {
    display: none;
}

.an-event__link {
    display: block;
    color: rgb(180, 180, 180);
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.an-event__copy__toggle:checked ~ .an-event__copy {
    display: block;
    margin-bottom: 1rem;
}

.events .short {
    text-align: center;
}

.of-video {
    background: black;
}

.of-video__title {
    color: white;
    font-weight: bolder;
    font-size: 1.6rem;
    text-align: center;
}

.of-video__title::after {
    content: "";
    display: block;
    background: white;
    height: 2px;
    width: 5rem;
    margin: 1rem auto;
}

.of-video__frame {
    display: flex;
    justify-content: center;
}

.of-centered-text__title {
    font-size: 1.6rem;
    font-weight: bolder;
}

.of-centered-text__title::after {
    content: "";
    display: block;
    background: white;
    height: 2px;
    width: 5rem;
    margin: 1rem auto;
}
.of-centered-text p {
    color: rgb(168, 168, 168);
    line-height: 1.5rem;
    margin: 0 auto 1rem;
    font-size: 1.2rem;
    max-width: 800px;
}

.of-centered-text__sub-title {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 0.8rem;
    margin-top: 2rem;
}

.of-confirmation {
    background: lightgreen;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.of-confirmation p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.of-confirmation a {
    display: block;
    padding: 1rem 3rem;
    font-weight: bolder;
    background: black;
    border: none;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

.of-enquiry form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enquiry__a-line {
    margin-bottom: 1rem;
}

.enquiry__a-line > * {
    margin: 0 1rem;
}

.message__box {
    width: 400px;
    max-width: 80%;    
}

.enquiry__form textarea {
    width: 100%;
}

.enquiry__submit {
    padding: 0.5rem 2.5rem;
    background: black;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    .sign-up {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .sign-up input {
        margin-top: 1rem;
        margin-right: 1rem;
        width: 60%;
    }

    .sign-up button {
        width: 40%;
    }

    /* promo pop */
    .promo {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
        align-items: center;
    }

    .promo__image-box {
        flex: 1 1 50%;
    }

    .promo__info-box {
        flex: 1 0 50%;
    }

    .promo__title {
        margin-top: 1rem;
    }

    /* photo-text pop */
    .photo-text {
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        justify-content: center;  
    }

    .photo-text__image-box {
        height: 100%;
    }

    .plac-box {
        display: flex;
        margin-top: 3rem;
        align-items: center;
    }

    .reviews__title {
        margin-bottom: 2rem;
    }

    .reviews-box {
        display: flex;
        justify-content: space-around;
    }

    .a-review {
        max-width: 230px;        
    }

    .an-event {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}





